# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de Python (si decides usar Python en el futuro)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Archivos de Node.js (si decides usar Node.js en el futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

